.App {
  text-align: center;
  background: #222;
  height: 100%;
  margin-bottom: 0px;
}

.Warning{
  color: red;
  font-size: 16px;
  text-align: center;
}

.List{
  color: white;
  font-size: 1.5em;
  list-style: none;
}

.ListItem{
  text-align: center;
  margin-left: 120px;
}

.ListArea{
  display: inline-block;
  margin-right: 35px;
}

.DeleteButton{
  float: right;
  margin-left: 70px;
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border-color: darkgrey;
  border-width: 2px;
  cursor: pointer;
}

.Button{
  margin: 5px;
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border-color: darkgrey;
  border-width: 2px;
  cursor: pointer; 
  display: inline-block;
}

.Button:hover{
  background-color: darkgray;
}

.DeleteButton:hover{
  background-color: darkgray;
}

.InputBox{
  width: 300px;
  height: 25px;
  border-radius: 5px;
  border-color: darkgrey;
  border-width: 2px;
  font-size: 16px;
  margin-bottom: 5px;
}

.App-header {
  background-color: black;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}
