.App {
  text-align: center;
  background: #222;
  height: 100%;
  margin-bottom: 0px;
}

.List{
  color: white;
  font-size: 1.5em;
  list-style: none;
}

.ListArea{
  display: inline-block;
  margin-right: 35px;
}

.Button{
  margin-right: 500px;
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border-color: darkgrey;
  border-width: 2px; 
  display: block;
}

.InputBox{
  width: 300px;
  height: 25px;
  border-radius: 5px;
  border-color: darkgrey;
  border-width: 2px;
  font-size: 16px;
  margin-left: 60px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
